@model List<SurveyVM>
@{
    ViewData["Title"] = "FavoriteParks";
}

<h2>FavoriteParks</h2>

<body>
    <div style="text-align:left"><h1>Favorite Parks</h1></div>

    <div class="flex-container">
        <table>
            <tr style="text-align:center">
                <th></th>
                <th style="text-align:left">Park</th>
                <th>Favorites</th>
            </tr>
            @{foreach (SurveyVM item in Model)
                {
                    <tr>
                        <td><div class="flex-item"><img style="border:1px solid #000000" src="~/images/img/parks/@(item.Park.ParkCode).jpg" /></div></td>

                        <td>
                            <a href="~/Home/Detail?ParkCode=@(item.Park.ParkCode)"><div class="flex-item">@item.Park.ParkCode</div></a>
                        </td>
                        <td style="text-align:center"><div>@item.NumberOfSurveys</div></td>
                    </tr>
                }
            }
        </table>
    </div>
</body>