@model SurveyVM
@{
    ViewData["Title"] = "Survey";
}

<h2>Favorite Park Survey</h2>



<div>
    <form asp-controller="Home" asp-action="Survey" method="post">

        <label asp-for="Park.Name">Favorite National Park:</label>

        @*drop down for selection of favorite park*@
        <select asp-for="Survey.ParkCode">
            @foreach (Park park in Model.Parks)
            {

                <option value="@park.ParkCode">@park.Name</option>
            }
        </select>

        @*drop down for selection of State*@
        <div>
            <label asp-for="Survey.State">State of residence</label>
            <select asp-for="Survey.State" class="survey-select-park">
                <option value="AK">AK</option>
                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
            </select>
        </div>

        @*text field to hold email entered by user*@
        <div>
            <label asp-for="Survey.EmailAddress">Your Email: </label>
            <input asp-for="Survey.EmailAddress" />
        </div>

        @*used radio buttons for user to select activity level*@
        <div>
            <label asp-for="Survey.Activity">Activity level</label>
            <div id="activityLevelbuttons">
                <div class="activityLevelContainerItem"><input type="radio" asp-for="Survey.Activity" value="Inactive"> Inactive</div>
                <div class="activityLevelContainerItem"><input type="radio" asp-for="Survey.Activity" value="Sedentary"> Sedentary</div>
                <div class="activityLevelContainerItem"><input type="radio" asp-for="Survey.Activity" value="Active"> Active</div>
                <div class="activityLevelContainerItem"><input type="radio" asp-for="Survey.Activity" value="Extremely Active"> Extremely Active</div>
            </div>
            @*submit button does a HTTPpost and redirects user to favorite parks page.*@
            <div>
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>